
lab/lab2/.idea/inspectionProfiles/profiles_settings.xml
lab/lab2/.idea/inspectionProfiles/Project_Default.xml
lab/lab2/.idea/lab2.iml
lab/lab2/.idea/misc.xml
lab/lab2/.idea/modules.xml
lab/lab2/.idea/vcs.xml
